body {
  margin: 0;
}
.father {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 50vh;
  gap: 10px;
  grid-auto-rows: 1fr;
  place-items: end start;
}

.child {
  width: 50px;
  height: 50px;
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 36px;
}
.child:nth-child(8) {
  background-color: teal;
  place-self: start end;
}
