.father {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 2fr 1fr;
  gap: 15px;
  height: 90vh;
}

.child {
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 36px;
}

.child:first-child {
  /* grid-row: span 2; */
  background-color: khaki;
}

.child:last-child {
  grid-column: 2 / span 2;
  background-color: aqua;
}
