@import "./reset.scss";

$bg: #dde2d2;
$blue: #01a1c8;
$red: #d03022;
$brown: #583634;
$lineWidth: 80px;

body {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .poster {
    width: 34%;
    height: 100%;
    display: grid;
    grid-template-columns: $lineWidth 1fr $lineWidth;
    grid-template-rows: $lineWidth 1.2fr $lineWidth 1fr $lineWidth 1.2fr $lineWidth;
    padding: 20px;
    background-color: $bg;
    box-sizing: border-box;
    > div {
      padding: 15px;
      font-weight: bold;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 10px;
    }
    .top-left,
    .top-top,
    .top-right,
    .center-bottom {
      background-color: $blue;
    }
    .center-top,
    .bottom-left,
    .bottom-right,
    .bottom-bottom {
      background-color: $red;
    }
    .center-left,
    .center-right {
      background-color: $brown;
      grid-row: span 3;
    }
    .top-left,
    .top-right,
    .bottom-left,
    .bottom-right {
      grid-row: span 2;
    }
    .top-bottom {
      align-self: flex-end;
    }
    .bottom-top {
      .bottom {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }
    }
    .center-center {
      h1 {
        font-size: 4em;
        width: min-content;
      }
    }
  }
}
